.container {
	padding-inline: calc(var(--default-padding) * 1.5);
	width: 100%;
	max-width: 761px;
	margin-inline: auto;
	margin-bottom: 50px;
	@media (max-width: 761px) {
		max-width: 100%;
		padding-inline: calc(var(--default-padding) / 2);
	}
}
