.trip-info {
	margin-block: var(--default-gap);
	padding: var(--default-padding);
	border: 1px solid var(--grey-third);
	border-radius: var(--border-radius-xl);
	display: flex;
	align-items: center;
	gap: var(--default-gap);
	font-size: 14px;
	opacity: 0;

	@media (max-width: 580px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		text-align: center;
		padding: calc(var(--default-padding) / 2);
	}
	&__item-name {
		font-weight: 400;
		color: var(--grey-primary);
	}

	&__show-btn {
		color: var(--purpure);
		line-height: var(--button-lh);

		padding-inline: 12px;
		border-radius: var(--border-radius-xl);
		transition: background-color var(--transition-duration),
			color var(--transition-duration);
		cursor: pointer;
		@media (min-width: 580px) {
			margin-left: auto;
		}
	}
}
